.btn_choice{
    border-radius: 3px;
    text-align: center;
    color: black;
	height: 50px;
	width: 150px;
	background: #c4fdf9;
    font-size: 15px;
    font-weight: bold;
}

.center{
    text-align: center;
}

.btn_send{
    border-radius: 3px;
    text-align: center;
    color: black;
	height: 50px;
	width: 150px;
	background: white;
    font-size: 15px;
}

#CDT {
    width: 100%;
    text-align: center;
    font-size: 49px;
    font-weight: bold;
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
}

.nextword{
    line-height: 2;
    font-size: 100%;
    text-align: center;
}

.fuwafuwa {
    animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
    background: url(./image/ryu.png) no-repeat center center / 60px auto;
    display: inline-block;
    transition: 1s ease-in-out;
    width: 70px;
    height: 70px;
    margin-top: 15px;
    background-image: url(./image/mark_question.png);
}
   
@keyframes fuwafuwa {
    0% {
      transform:translate(0, 0) rotate(-7deg);
    }
    50% {
      transform:translate(0, -7px) rotate(0deg);
    }
    100% {
      transform:translate(0, 0) rotate(7deg);
    }
}