body {
    background: white;
}

.btn_choice{
    border-radius: 3px;
    text-align: center;
    color: black;
	height: 50px;
	width: 150px;
	background: #c4fdf9;
    font-size: 15px;
}

.center{
    text-align: center;
}

.btn_send{
    border-radius: 3px;
    text-align: center;
    color: black;
	height: 50px;
	width: 150px;
	background: white;
    font-size: 15px;
}